.App {
  text-align: center;
}

.personal-pfp {
  /* pointer-events: none; */
  border-radius: 0.85rem;
  height: 75%;
  width: auto;
  flex: 0 0 auto;
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) {
  .personal-pfp:hover {
    animation: personal-pfp-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
}

.app-body {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;

  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes personal-pfp-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
